In [1]:
import pandas as pd

In [108]:
n = int(input('Enter an non-negative integer number: '))

if n < 0:
  print('Enter an non-negative integer number please')

Enter an non-negative integer number: 18

In [109]:
even = []
odd = []
fibonacci = [0,1]

for i in range(n):
  even.append(2*i)
  odd.append(2*i+1)
  if i > 1: fibonacci.append(fibonacci[i-2]+fibonacci[i-1])

In [110]:
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34]

In [111]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35]

In [112]:
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]

In [113]:
len(even) == len(odd) == len(fibonacci)

True

In [115]:
df = pd.DataFrame({'Even': even,
                   'Odd': odd,
                   'fibonacci': fibonacci})
pd.set_option('display.colheader_justify', 'center')
print(df)

    Even  Odd  fibonacci
0     0    1        0
1     2    3        1
2     4    5        1
3     6    7        2
4     8    9        3
5    10   11        5
6    12   13        8
7    14   15       13
8    16   17       21
9    18   19       34
10   20   21       55
11   22   23       89
12   24   25      144
13   26   27      233
14   28   29      377
15   30   31      610
16   32   33      987
17   34   35     1597